.experience-container {
  height: 100%;
  width: 100%;
}

.experience-container .experience-header {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 700;
}

.experience-container .experience-info-container {
  width: 80%;
  height: 89%;
  margin-left: 10%;
  display: flex;
  flex-wrap: wrap;
}

.experience-container .experience-info-container .experience-info {
  width: 49%;
  height: 32%;
}

.experience-container .experience-info-container .experience-info .programming-language-text{
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  font-size: 22px;
  font-weight: 700;
}

.experience-container .experience-info-container .experience-info .valuation-bar {
  width: 80%;
  margin-top: 2%;
  margin-left: 10%;
  height: 35%;
  background-color: #282828;
  border-radius: 10px;
  display: flex;
  font-size: 22px;
  font-weight: 700;
}

.experience-container .experience-info-container .experience-info .valuation-bar .valuation-fill {
  background-color: #2B5A38;
  border-radius: 10px;
}